<div class="auth-container">
  <section><h1> Registrar</h1></section>
  <form action="/register" method="post">
    <div class="form-control">
      <label for="name">Nome:</label>
      <input type="text" name="name" placeholder="Registre seu nome...">
    </div>
    <div class="form-control">
      <label for="email">E-mail:</label>
      <input type="text" name="email" placeholder="Registre seu email...">
    </div>
    <div class="form-control">
      <label for="password">Senha:</label>
      <input type="password" name="password" placeholder="Registre sua senha...">
    </div>
    <div class="form-control">
      <label for="confirmpassword">Confirmação da Senha:</label>
      <input type="password" name="confirmpassword" placeholder="Confirme sua senha:">
    </div>
    <input id="cadastro" type="submit" value="cadastrar">
    <p>Já tem conta? <a href="#">Clique aqui</a></p>
  </form>
</div>
