<section class="tought-form-container">
  <a href="/toughts/dashboard">Voltar</a>
  <section><h1>Entrar</h1></section>
  <form action="/toughts/add" method="post">
  <div class="form-control2">
    <label for="title">Pensamento</label>
    <input type="text" name="title" placeholder="Digite seu pensamento">
  </div>
  <input id="cadastro" type="submit" value="Criar Pensamento">
  </form>
</section>