<section class="dashboard">
  <div class="title-container">
  <h1>dashboard</h1>
  <a href="/toughts/add" class="btn">Criar Pensamento</a>
  </div>
  <h3>Seus Pensamentos</h3>
 <ul>
    {{#each toughts}}
    <li>
      <span>{{this.title}}</span>
      <span>
        <a href="/">Editar</a>
        <form action="/toughts/delete" method="post">
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="submit" value="Excluir">
        </form>
      </span>
    </li>
    {{/each}}
  </ul>
</section>
