


<section class="dashboard">
  <section class="title-container">
    <h2>Dashboard</h2>
    <a href="/toughts/add" class="btn">Criar Pensamentos</a>
  </section>
  <h3>Seus Pensamentos</h3>
  <ul>
    {{#if emptyThoughts}}
      <p class="emptyThoughts">Ainda não existe pensamentos, comece a criar <a href="/toughts/add">Por aqui</a></p>
    {{/if}}
    {{#each toughts}}
      <li>
        <p>{{this.title}}</p>

        <section class="actions">
           <a href="/toughts/atualizar/{{this.id}}">Editar</a>

          <form action="/toughts/delete" method="post">
          <input type="hidden" name="id" value="{{this.id}}">
          <input type="submit" value="Excluir">
          </form>

        </section>

      </li>
    {{/each}}
  </ul>
</section>