<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <nav id="navbar">
    <a href="/" id="logo">
      <img src="/img/logo.png" alt="">
    </a>
    <ul>
      <li>
        <a href="/">Pensamentos</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/registrar">Registrar</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    {{{body}}}
  </div>

  <footer>
    <p>Pensador <span>&copy;2023</span> </p>
  </footer>

</body>
</html>